.card {
  background-color: #fff;
  border: 1px solid #bfa98f;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
    font-size: 22px;
    color: #2c3e50;
}

.p {
    font-size: 14px;
    color: #666;
}

.price {
    color: #c39a6b; /* Золотистый цвет для цены */
    font-weight: bold;
    font-size: 16px;
}